<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">

      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Gerencie seus contatos</p>
      
      <!-- Mensagem-->
      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger d-none">Uma mensagem personalizada</div>
        </div>
      </div>

      <!--Tabela-->
      <div class="responsive-table my-3">
        <table class="table">
          <tr>
            <td>Matheus</td>
            <td>Isaias</td>
            <td>(15) 98111-3741</td>
            <td>matheusisaias065@gmail.com</td>
          </tr>
          <tr>
            <td>Matheus</td>
            <td>Isaias</td>
            <td>(15) 98111-3741</td>
            <td>matheusisaias065@gmail.com</td>
          </tr>
          <tr>
            <td>Matheus</td>
            <td>Isaias</td>
            <td>(15) 98111-3741</td>
            <td>matheusisaias065@gmail.com</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer') %>
